In [1]:
import pandas as pd
import numpy as np 
from matplotlib import pyplot as plt

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [8]:
data = pd.read_csv('sample_X.csv')

In [9]:
data.isnull().sum()

gender                                  0
marital_status                          0
region                                  0
highest_education                       0
school                                  0
employment_status                       0
loan_purpose                            0
repayment_status                        0
repayment_info_source                   0
repayment_method                        0
repayment_method_convenience            0
effectiveness_repayment_method          0
collection_strategy_effectiveness       0
interaction_quality_on_repayment        0
overall_experience_with_loan_process    0
over_under_milion                       0
discipline                              0
dtype: int64

In [10]:
data.sample(10)

,gender,marital_status,region,highest_education,school,employment_status,loan_purpose,repayment_status,repayment_info_source,repayment_method,repayment_method_convenience,effectiveness_repayment_method,collection_strategy_effectiveness,interaction_quality_on_repayment,overall_experience_with_loan_process,over_under_milion,discipline
38,male,single,central,bachelor,chanco,fulltime,tuition_living,not_paid,phone,none,inconvenient,ineffective,neutral,neutral,neutral,over,humanities
220,male,single,northern,bachelor,com,fulltime,tuition_living,partially_paid,phone,monthly_salary,convenient,effective,effective,positive,satisfied,under,health sciences
149,male,single,southern,bachelor,mzuni,fulltime,tuition,partially_paid,employer,voluntary_monthly,neutral,neutral,neutral,neutral,neutral,over,stem
339,female,married,northern,bachelor,com,fulltime,living_stationery,partially_paid,email,monthly_salary,neutral,effective,neutral,positive,neutral,under,health sciences
63,male,single,central,bachelor,poly,fulltime,tuition_living,not_paid,inperson,none,inconvenient,ineffective,neutral,neutral,satisfied,over,commerce
210,female,single,central,bachelor,chanco,self_employed,tuition_living,not_paid,inperson,none,inconvenient,ineffective,neutral,neutral,neutral,over,stem
2,male,married,central,master,poly,fulltime,tuition_living,fully_paid,phone,monthly_salary,very_convenient,very_effective,very_effective,very_positive,very satisfied,under,commerce
29,male,married,central,bachelor,chanco,parttime,living,partially_paid,inperson,voluntary_monthly,inconvenient,ineffective,neutral,neutral,neutral,under,humanities
321,male,married,southern,doctorate,mzuni,fulltime,tuition_living,partially_paid,employer,monthly_salary,neutral,effective,neutral,neutral,neutral,over,health sciences
17,male,married,central,bachelor,chanco,fulltime,tuition_living,partially_paid,email,monthly_salary,neutral,neutral,neutral,neutral,neutral,under,humanities

In [ ]:
# attempted feature extraction
from tsfresh import extract_features

# Sample time series data with an id column
df['id'] = 1
df['time'] = range(len(df))

# Extract features using tsfresh
extracted_features = extract_features(df, column_id='id', column_sort='time')

print(extracted_features)